<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Task</title>
    <link rel="stylesheet" th:href="@{/css/edit-task.css}">

</head>
<body>

<div class="container">

    <h2>Edit Task</h2>

    <form action="#" th:action="@{/api/tasks/update}" th:object="${task}" method="post">

        <input type="hidden" th:field="*{id}">

        <label>Title</label>
        <input type="text" th:field="*{title}" required>

        <label>Description</label>
        <input type="text" th:field="*{description}" required>

        <label>Due Date</label>
        <input type="text" th:field="*{dueDate}" placeholder="YYYY-MM-DD" required>

        <label>Status</label>
        <select th:field="*{status}" required>
            <option value="">Select Status</option>
            <option th:each="s : ${T(com.taskreminder.app.enums.TaskStatus).values()}"
                    th:value="${s}"
                    th:text="${s.label}">
            </option>
        </select>

        <label>Priority</label>
        <select th:field="*{priority}" required>
            <option value="">Select Priority</option>
            <option th:each="p : ${T(com.taskreminder.app.enums.TaskPriority).values()}"
                    th:value="${p}"
                    th:text ="${p.label}">
            </option>
        </select>

        <button type="submit">Update Task</button>

    </form>

    <a href="/api/tasks" class="back-link">Back to Task List</a>

</div>
<footer class="footer">
    <div class="footer-content">
        <span>Task Reminder App</span>
        <span>&copy; 2025</span>
        <span>Created by Dakarai Mahisa</span>
    </div>
</footer>

</body>
</html>
