<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Forgot Password</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/auth-reset.css}">
</head>
<body>

<div class="auth-container">

    <div th:if="${success}" class="alert success" th:text="${success}"></div>
    <div th:if="${error}" class="alert error" th:text="${error}"></div>

    <div class="auth-header">
        <i class="fa-solid fa-unlock-keyhole"></i>
        <h2>Forgot your password?</h2>
        <p>Enter your email to receive a reset link</p>
    </div>

    <form th:action="@{/auth/forgot-password}" method="post">
        <div class="form-group">
            <label>Email address</label>
            <input type="email"
                   name="email"
                   placeholder="you@example.com"
                   required>
        </div>

        <button type="submit" class="btn">
            Send Reset Link
        </button>
    </form>

    <div class="auth-footer">
        <a th:href="@{/login}">
            Back to Login
        </a>
    </div>

</div>

</body>
</html>
