<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Task</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/view-task.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">

</head>
<body>

<div th:replace="~{fragments/header :: header('dashboard')}"></div>

<div class="container">

    <h2>Task Details</h2>

    <div class="task-details">

        <div class="field">
            <label>Title</label>
            <p th:text="${task.title}">Task Title</p>
        </div>

        <div class="field">
            <label>Description</label>
            <p th:text="${task.description}">Task Description</p>
        </div>

        <div class="field">
            <label>Due Date</label>
            <p th:text="${task.dueDate}">2025-01-01</p>
        </div>

        <div class="field">
            <label>Status</label>
            <p th:text="${task.status.label}">PENDING</p>
        </div>

        <div class="field">
            <label>Priority</label>
            <p th:text="${task.priority.label}">HIGH</p>
        </div>

    </div>

    <div class="actions">
        <a th:href="@{/api/tasks}" class="btn">Back to Task List</a>
        <a th:if="${task.status != T(com.taskreminder.app.enums.TaskStatus).DONE}"
           th:href="@{/api/tasks/update/{id}(id=${task.id})}" class="btn btn-secondary"
        >Edit Task</a>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

<script src="/js/live-time.js"></script>
<script src="/js/header.js"></script>
</body>
</html>
